<html>

<head>

<body>
    <p>Hi <%= user.name.first %>,</p>
    <p>You requested to verify you account is successful.</p>
    <p> Please, click on this link to activate your account</p>
    <a href=<%= `https://${link}` %>>Verify here</a>
</body>

</html>