<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      @media screen and (min-width: 768px) {
         .container {
            width: 90%;
            margin: 0 auto !important;
            padding: 0 !important;
      }
      form {
         text-align: center;
          width: 70%;
            margin: 0 auto !important;
            padding: 0 !important;
      }
      }
    </style>
</head>
<body>
    <div class="container mt-5 pt-5 mb-5">
       <div class="row justify-content-center">
          <div class="col-md-12" style="margin: 0 auto;">
             <div class="card p-4">
                <div class="card-body"></div>
                <div class="text-center">
                   <i class="fa fa-lock" style="font-size: 100px;"font></i>
                </div>
                <form id="mainform" role="form" action="/user/authenticate/forgotPassword" class="form" method="post">
                   <div class="form-group">
                      <div class="input-group">
                         <div class="input-group-addon bg-light"></div>
                         <input id="email" name="email" placeholder="email address" class="form-control"  type="email" required="">
                      </div>
                   </div>
                   <div class="form-group text-center mt-4 mb-3">
                      <input name="submit" class="btn btn-primary" value="Send" type="submit">
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    </div>
</body>
</html>